body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.atm-machine {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  color: #333;
  text-align: center;
}

input,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  background-color: #0056b3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #004494;
}

.link-button {
  background: none;
  border: none;
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}

.link-button:hover {
  color: #0056b3;
}

.message {
  text-align: center;
  color: #d8000c;
}

.navbar,
.operations-nav {
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
  margin-right: 15px;
  color: #0056b3;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.app-container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.content {
  margin-top: 20px;
}
